
table {
    width:100%;
    border: 1px solid black;
    border-collapse:collapse;
}
td {
 vertical-align:top;
 text-align:center;
 border:1px solid DarkBlue;
}
/*Itens do menu*/
a.menuitem {
    width:300px;
    height:200px;
    cursor:pointer;
    color:black;
    font-weight:bold;
    font-size:12;
    text-decoration:none;
    /*border:1px ridge DarkGray;*/
}
a.menuitem:hover{color:red;}
tr td.menuitem{
    border:2px ridge DarkGray;
    background-color:lightgray;
}
tr td.menuitem:hover {
   border:2px outset DarkGray;
   background-color:gray;    
   color:white;
}
/*--------------------------------------*/
#conteudo {
  width:98%;height:500px;background-color:white;
  border:none;
}

