<hmtl>
<head>
<meta charset="utf-8" />
<title>Tradutor de binario</title>
</head>
<script language="javascript">

function para_binario() 
{
 pad=document.getElementById('campo').value;
 ret="";
 for (c=0;c<pad.length;c++)
 {
    ret+=(+pad.charCodeAt(c)).toString(2)+" ";
 }
 document.getElementById("campo").value=ret; 
}

function de_binario()
{
    pad=document.getElementById("campo").value.split(" ");
    ret="";
    for (ind=0;ind<pad.length;ind++)
    {
        ret+=String.fromCharCode(parseInt(pad[ind],2));
    }
    document.getElementById("campo").value=ret;
}
</script>
<body>
<textarea cols=32 rows=12 id="campo">
</textarea><br>
<button onClick="para_binario()">Para binario</button>
<button onClick="de_binario()">Para char</button>
</body>
</html>